@import 'vars.css';

.app {
    display: flex;

    @media (--small) {
        background-color: red;
    }
    @media (--medium) {
        background-color: green;
    }
    @media (--large) {
        background-color: blue;
    }
}